<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /project-basmalahCopy/
    
    # Redirect to public folder
    RewriteCond %{REQUEST_URI} !^/project-basmalahCopy/public/
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
